<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dw.applebuy">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.wlj.base.util.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.loginreg.LoginActivity" />
        <activity android:name=".ui.loginreg.RegisterActivity" />
        <activity android:name=".ui.loginreg.ForgetPswActivity" />
        <activity android:name=".ui.home.shoppingmanage.ShoppingManagerActivity" />
        <activity
            android:name=".ui.home.ordermanage.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.home.ordermanage.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ui.home.ordermanage.ItemListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.ordermanage.ItemListActivity" />
        </activity>
        <activity android:name=".ui.home.shoppingmanage.youhui.YouHuiManagerActivity" />
        <activity android:name=".ui.home.shoppingmanage.youhui.YouHuiAddActivity" />
        <activity android:name=".ui.home.shoppingmanage.youhui.YouHuiTypeActivity"></activity>
    </application>

</manifest>