<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dw.applebuy">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 地图 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 支付宝 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:name="com.wlj.base.util.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon">
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="r5AATPw9f0soBFBFXUGp6ib5" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx622e032827e49132" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Loading"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loginreg.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loginreg.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loginreg.ForgetPswActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.ShoppingManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.ordermanage.OrderListActivity"
            android:label="@string/title_order_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.home.ordermanage.OrderDetailActivity"
            android:label="@string/title_order_detail"
            android:parentActivityName=".ui.home.ordermanage.OrderListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.ordermanage.OrderListActivity" />
        </activity>
        <activity
            android:name=".ui.home.shoppingmanage.youhui.YouHuiManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.youhui.add.YouHuiAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.youhui.add.YouHuiTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.youhui.add.YouHuiTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loginreg.ChangePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.set.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.album.AlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.album.UpLoadImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.data.DataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.data.child.RegionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.data.child.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.data.child.BusinessScopeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.data.child.AddBusinessTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.data.child.ChooseWeekActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.commentmanage.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.usermanage.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.usermanage.ConsumeHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.usermanage.ModifyUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.scoremanage.ScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.scoremanage.ReChangeScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pay.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pay.RechangeBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.songjifen.CreatUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.songjifen.PhoneVerifySuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.songjifen.InputPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.songjifen.GiveSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.renzheng.RenZhengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.hexiao.CodeScanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.home.hexiao.OrderDetail2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.usermanage.SearchUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.message.MessageDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.songjifen.CodeScanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>