<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dw.applebuy">

    <!-- Required -->
    <permission
        android:name="com.dw.applebuy.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.dw.applebuy.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 地图 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 支付宝 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.wlj.base.util.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon,theme">
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="r5AATPw9f0soBFBFXUGp6ib5" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx622e032827e49132" />
            </intent-filter>
        </activity>

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- &lt;!&ndash; JPUSH &ndash;&gt; -->


        <!-- &lt;!&ndash; Required SDK 核心功能&ndash;&gt; -->
        <!-- &lt;!&ndash; 可配置android:process参数将PushService放在其他进程中 &ndash;&gt; -->
        <!-- <service -->
        <!-- android:name="cn.jpush.android.service.PushService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.intent.REGISTER" /> -->
        <!-- <action android:name="cn.jpush.android.intent.REPORT" /> -->
        <!-- <action android:name="cn.jpush.android.intent.PushService" /> -->
        <!-- <action android:name="cn.jpush.android.intent.PUSH_TIME" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->


        <!-- &lt;!&ndash; since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 &ndash;&gt; -->
        <!-- &lt;!&ndash; 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 &ndash;&gt; -->
        <!-- <service -->
        <!-- android:name="cn.jpush.android.service.DaemonService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.intent.DaemonService" /> -->
        <!-- <category android:name="${applicationId}" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->


        <!-- &lt;!&ndash; Required SDK核心功能&ndash;&gt; -->
        <!-- <receiver -->
        <!-- android:name="cn.jpush.android.service.PushReceiver" -->
        <!-- android:enabled="true"> -->
        <!-- <intent-filter android:priority="1000"> -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> -->
        <!-- <category android:name="${applicationId} " /> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.USER_PRESENT" /> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- </intent-filter> -->
        <!-- &lt;!&ndash; Optional &ndash;&gt; -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PACKAGE_ADDED" /> -->
        <!-- <action android:name="android.intent.action.PACKAGE_REMOVED" /> -->


        <!-- <data android:scheme="package" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- &lt;!&ndash; Required SDK核心功能&ndash;&gt; -->
        <!-- <activity -->
        <!-- android:name="cn.jpush.android.ui.PushActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:exported="false" -->
        <!-- android:theme="@android:style/Theme.NoTitleBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.ui.PushActivity" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="${applicationId}" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <!-- &lt;!&ndash; Required SDK核心功能&ndash;&gt; -->
        <!-- <service -->
        <!-- android:name="cn.jpush.android.service.DownloadService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false"/> -->


        <!-- &lt;!&ndash; Required SDK核心功能&ndash;&gt; -->
        <!-- <receiver android:name="cn.jpush.android.service.AlarmReceiver" /> -->


        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".jpush.JpushReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- &lt;!&ndash; Required. For publish channel feature &ndash;&gt; -->
        <!-- &lt;!&ndash; JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。&ndash;&gt; -->
        <!-- &lt;!&ndash; 例如: &ndash;&gt; -->
        <!-- &lt;!&ndash; 发到 Google Play 的APK可以设置为 google-play; &ndash;&gt; -->
        <!-- &lt;!&ndash; 发到其他市场的 APK 可以设置为 xxx-market。 &ndash;&gt; -->
        <!-- &lt;!&ndash; 目前这个渠道统计功能的报表还未开放。&ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="JPUSH_CHANNEL" -->
        <!-- android:value="developer-default" /> -->
        <!-- &lt;!&ndash; Required. AppKey copied from Portal &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="JPUSH_APPKEY" -->
        <!-- android:value="您应用的Appkey" /> -->

        <activity
            android:name=".ui.Loading"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loginreg.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loginreg.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loginreg.ForgetPswActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.ShoppingManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.ordermanage.OrderListActivity"
            android:label="@string/title_order_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.home.ordermanage.OrderDetailActivity"
            android:label="@string/title_order_detail"
            android:parentActivityName=".ui.home.ordermanage.OrderListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.ordermanage.OrderListActivity" />
        </activity>
        <activity
            android:name=".ui.home.shoppingmanage.youhui.YouHuiManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.youhui.add.YouHuiAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.youhui.add.YouHuiTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.youhui.add.YouHuiTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loginreg.ChangePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.set.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.album.AlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.album.UpLoadImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.data.DataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.data.child.RegionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.data.child.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.data.child.BusinessScopeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.data.child.AddBusinessTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.shoppingmanage.data.child.ChooseWeekActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.commentmanage.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.usermanage.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.usermanage.ConsumeHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.usermanage.ModifyUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.scoremanage.ScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.scoremanage.ReChangeScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pay.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pay.RechangeBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.songjifen.CreatUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.songjifen.PhoneVerifySuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.songjifen.InputPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.songjifen.GiveSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.renzheng.RenZhengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.hexiao.CodeScanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.home.hexiao.OrderDetail2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.usermanage.SearchUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.message.MessageDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.songjifen.CodeScanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.home.shoppingmanage.album.UpLoadMoreActivity" />
        <activity android:name=".ui.home.renzheng.AnimationActivity"></activity>
    </application>

</manifest>